<div class="well">
  <form name="createForm" class="form-horizontal" role="form"
        ng-submit="send(command, job_new);">

    <div class="form-group">
      <label class="col-sm-2 control-label required">组织机构</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="job_new.organ" ng-options="m.dn as m.name for m in refs.organ_index">
          <option value="">-- 请选择 --</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label required">可选岗位</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="job_new.subject" ng-options="m.dn as m.name for m in refs.position_index">
          <option value="">-- 请选择 --</option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label required">可选人员</label>
      <div class="col-sm-10">
        <div class="row">
            <label class="col-lg-2" ng-repeat="m in refs.user_index">
              <input
                 type="checkbox"
                 name="job_new.assign[]"
                 value="{{m.dn}}"
                 ng-checked="job_new.assign.indexOf(m.dn) > -1"
                 ng-click="toggle_selection(m.dn)"
                 > {{m.name}}
            </label>
          </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" type="submit" ng-disabled="createForm.$invalid"/>
        或者
        <a ui-sref="setting.job">取消</a>
      </div>
    </div>
  </form>
</div>

<hr>
