<div class="well">
  <h5>用户工作岗位管理</h5>
  <hr>

  <form name="createForm" role="form"
        ng-submit="send_command(member);">

    <div class="form-group">
      <label>组织机构: <b>{{member.organ.name}}</b></label>
    </div>

    <div class="form-group">
      <label>员工姓名: <b>{{member.assign.name}}</b></label>
    </div>

    <div class="form-group">
      <label>可选岗位: </label>
      <div class="row">
        <label class="col-lg-4" ng-repeat="m in refs.position_index">
          <input
             type="checkbox"
             name="member.subjects[]"
             value="{{m.dn}}"
             ng-checked="member.subjects.indexOf(m.dn) > -1"
             ng-click="toggle_selection(m.dn)"
             > {{m.name}}
        </label>
      </div>
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="submit" ng-disabled="createForm.$invalid"/>
      或者
      <a ui-sref="setting.job">取消</a>
    </div>
  </form>
</div>

<hr>
