<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">操作日志</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>时间</th>
              <th>人员</th>
              <th>应用</th>
              <th>操作</th>
              <th>数据</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in action_log_index">
              <td style="width: 5%"><i class="fa fa-file-text-o fa-1x"></i></td>
              <td style="width: 15%">{{e.time}}</td>
              <td style="width: 10%">{{e.who}}</td>
              <td style="width: 10%">{{e.app}}</td>
              <td style="width: 20%">{{e.action}}</td>
              <td style="width: 40%" title="{{e.data}}">{{e.data | limitTo : 30}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
