<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>云办公平台</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

    <!-- System Style -->
    <link rel="stylesheet" type="text/css" href="/static/css/cloap.css">
    <script src="/static/js/DatePicker/WdatePicker.js"></script>
  </head>

  <body>
    <div class="cloap_app" ng-cloak ng-app="cloap_app">
      <div id="navbar" class="navbar navbar-default" ng-init="send('config.index', {});">
          <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
              <a class="navbar-brand" href="/" >
                <i class="fa fa-gift fa-1x"></i>
                <span style="margin-left: 8px;">
                  {{cloap.config.title}}
                  <small>
                    {{cloap.config.subtitle}}
                  </small>
                </span>
              </a>
            </div>

            <div class="navbar-header pull-right" role="navigation" style="display: table; padding: 0.5em;" ng-show="cloap.user.login.length > 0">
              <a href="#" style="display:table-cell; vertical-align: middle; color: white;">
                <i class="fa fa-user bigger-150"></i>
                <span>{{cloap.user.login}}</span>
              </a>
              <span style="padding-left: 1em;"></span>
              <a href="/logout" title="退出" style="display:table-cell; vertical-align: middle; color: white;">
                <i class="fa fa-sign-out bigger-160"></i>
                <span>退出</span>
              </a>
            </div>
          </div>
      </div>

      <div class="main-container default">
        <div ng-switch on="cloap.websocket.state">
          <div class="alert alert-danger" ng-switch-when="disconnected">
            <b class="blink">请注意，网络已经断链，暂时无法工作！</b>
          </div>
        </div>
        <div ng-if="cloap.error != ''">
          <div class="alert alert-danger">
            <b class="blink">{{cloap.error}}</b>
          </div>
        </div>
        <div ui-view></div>
      </div>

    </div>

    <div class="main-content">
      <div class="content" class="col-md-12">
        <div id="cloap_app_module"></div>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.js"></script>
    <script src="/static/js/angular-ui-router.min.js"></script>
    <script src="/static/js/angular-file-upload.min.js"></script>
    <script src="/static/js/angular-websocket.js"></script>
    <script src="/static/js/angular-resource.js"></script>
    <script src="/static/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="/static/js/select.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>

    <!-- System Javascript -->
    <script src="/static/js/cloap.js"></script>
  </body>
</html>
