<div class="col-lg-7">
  <div class="panel panel-primary">
    <div class="panel-heading">注册用户</div>
    <div class="panel-body" ng-init="send('user.index', {})">
      <p>此处仅显示已经注册的用户。
        <a class="pull-right" ui-sref="setting.user.create" title="新增用户"><i class="fa fa-plus-square-o fa-2x"></i></a>
      </p>

      <p class="text-warning" ng-hide="user_index.length != 0">
        <i class="fa fa-exclamation-circle fa-4x"></i>
        <span>
          目前还没有已经登记注册的用户。
        </span>
      </p>

      <div ng-hide="user_index.length == 0">
        <div class="text-info">
          <h5><b>用户清单</b></h5>
        </div>

        <table class="table table-hover">
          <tr ng-repeat="e in user_index | orderBy:'login'">
            <td style="width: 5%;"><i class="fa fa-user"></i></td>
            <td style="width: 15%;"><b>{{e.login}}</b></td>
            <td style="width: 20%;">{{e.name}}</td>
            <td style="width: 35%;">{{e.mail}}</td>
            <td style="width: 15%;">{{e.mobile}}</td>
            <td style="width: 10%;">
              <a href ng-click="send('user.destroy', { id: e.login });">
                <i class="fa fa-trash text-danger pull-right"></i>
              </a>

              <a ui-sref="setting.user.edit(e)">
                <i class="fa fa-edit text-warning pull-right"></i>
              </a>

              <a ui-sref="setting.user.reset_passwd(e)">
                <i class="fa fa-key text-warning pull-right"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-5">
  <div ui-view></div>
</div>
