<ul class="nav nav-tabs" role="tablist">

  <li role="presentation">
    <a class="pull-right" href ng-click="switch_dashboard();"><i class="fa fa-dashboard fa-1x prefix"></i>个人主页</a>
  </li>

  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'config'}">
    <a ui-sref="setting.config"><i class="fa fa-gears fa-1x prefix"></i>系统配置</a>
  </li>

  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'app'}">
    <a ui-sref="setting.app"><i class="fa fa-shopping-cart fa-1x prefix"></i>应用商店</a>
  </li>
  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'uddi'}">
    <a ui-sref="setting.uddi"><i class="fa fa-puzzle-piece fa-1x prefix"></i>服务注册</a>
  </li>
  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'user'}">
    <a ui-sref="setting.user"><i class="fa fa-group fa-1x prefix"></i>注册用户</a>
  </li>
  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'organ'}">
    <a ui-sref="setting.organ.organ"><i class="fa fa-cubes fa-1x prefix"></i>组织机构</a>
  </li>
  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'job'}">
    <a ui-sref="setting.job"><i class="fa fa-wrench fa-1x prefix"></i>工作分配</a>
  </li>
  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'acl'}">
    <a ui-sref="setting.acl"><i class="fa fa-key fa-1x prefix"></i>用户权限</a>
  </li>
  <li role="presentation" ng-class="{'active': cloap.admin_module.current == 'action_log'}">
    <a ui-sref="setting.action_log"><i class="fa fa-file-text fa-1x prefix"></i>操作日志</a>
  </li>
</ul>

<div class="row content">
  <div ui-view></div>
</div>
