<div class="well">
  <form name="configForm" class="form-horizontal" role="form"
        ng-submit="send('config.create', config_new);">

    <div class="form-group">
      <label class="col-sm-2 control-label required">参数名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="只允许字母、数字和下划线" ng-model="config_new.key" ng-readonly="{{config_edit_sign}}" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label required">参数取值</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="config_new.value">
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">附加说明</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="config_new.descr">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" type="submit" ng-disabled="configForm.$invalid"/>
      </div>
    </div>
  </form>
</div>

<hr>
