<div class="col-lg-8">
  <div class="panel panel-primary">
    <div class="panel-heading">机构分类</div>
    <div class="panel-body" ng-init="send('rating.index', {})">
      <p>此处仅显示已经注册登记的机构分类。
        <a class="pull-right" ui-sref="setting.organ.rating.create" title="新增类型"><i class="fa fa-plus-square-o fa-2x"></i></a>
      </p>

      <div ui-view></div>

      <div ng-hide="rating_index.length == 0">
        <table class="table table-hover">
          <tr ng-repeat="e in rating_index">
            <td style="width: 5%;"><i class="fa fa-cube"></i></td>
            <td style="width: 30%;">{{e.name}}</td>
            <td style="width: 40%;"><span class="pull-right">{{e.groups.length}} 个归类单位, {{e.positions.length}} 类工作岗位</span></td>
            <td style="width: 15%;">
              <a href ng-click="send('rating.destroy', { id: e.id });">
                <i class="fa fa-trash text-danger pull-right"></i>
              </a>

              <a ui-sref="setting.organ.rating.create(e)">
                <i class="fa fa-edit text-warning pull-right"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
