<ul class="nav nav-pills" role="tablist">
  <li role="presentation">
    <a ui-sref="setting.organ.organ"><i class="fa fa-gears fa-1x prefix"></i>组织机构</a>
  </li>

  <li role="presentation">
    <a ui-sref="setting.organ.rating"><i class="fa fa-at fa-1x prefix"></i>组织分类</a>
  </li>

  <li role="presentation">
    <a ui-sref="setting.organ.position"><i class="fa fa-anchor fa-1x prefix"></i>工作岗位</a>
  </li>
</ul>

<div class="row content">
  <div ui-view></div>
</div>
